@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@{
  this.Layout = null;
}
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>@Localizer["Image Uploader"] | @Localizer["Platformus"]</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <vc:backend-style-sheets />
  <vc:backend-scripts />
</head>
<body>
  <div class="image-uploader-pop-up-form__drag-and-drop-area drag-and-drop-area" id="imageDragAndDropArea">
    <div class="drag-and-drop-area__description">
      @Localizer["Drag and drop image into this area…"]
    </div>
    <form class="form" id="form" name="form" action="/backend/imageuploader" enctype="multipart/form-data" method="post">
      <div class="drag-and-drop-area__buttons form__buttons buttons">
        <label class="buttons__button button button--neutral button--icon icon icon--browse" for="files">
          @Localizer["…or select it on your device"]
        </label>
        <input class="drag-and-drop-area__input" id="files" name="files" type="file" size="1" onchange="platformus.imageDragAndDropArea.selected();" />
      </div>
    </form>
  </div>
</body>
</html>