@* Copyright © 2017 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.ExtensionManager.Backend.ViewModels.ExtensionManager.DeleteViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
  this.ViewBag.Title = this.Localizer["Delete Extension"];
  this.ViewBag.ActiveMenuItem = "extensionmanager";
}
@section title {
  @ViewBag.Title
}
<div class="form">
  <single-line-text-field asp-for="Id" readonly="readonly" />
  <multiline-text-field asp-for="Files" readonly="readonly" />
  <div class="form__field field">
    <span class="marker marker--highlighted">
      @Localizer["These files are currently loaded by the web application and can’t be deleted automatically. Please stop the web application, remove these files manually, and run the web application again."]
    </span>
  </div>
  <div class="form__buttons buttons">
    <a class="buttons__button button button--neutral" href="@this.Context.Request.CombineUrl("/backend/extensionmanager")">@Localizer["Cancel"]</a>
  </div>
</div>