@* Copyright © 2017 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.ExtensionManager.Backend.ViewModels.ExtensionManager.ViewViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
  this.ViewBag.Title = this.Localizer["View Extension"];
  this.ViewBag.ActiveMenuItem = "extensionmanager";
}
@section title {
  @ViewBag.Title
}
<div class="form">
  <single-line-text-field asp-for="Id" readonly="readonly" />
  <single-line-text-field asp-for="Name" readonly="readonly" />
  <multiline-text-field asp-for="Description" readonly="readonly" />
  <single-line-text-field asp-for="Url" readonly="readonly" />
  <single-line-text-field asp-for="Authors" readonly="readonly" />
  <single-line-text-field asp-for="Version" readonly="readonly" />
  <div class="form__buttons buttons">
    <a class="buttons__button button button--neutral" href="@this.Context.Request.CombineUrl("/backend/extensionmanager")">@Localizer["Cancel"]</a>
  </div>
</div>