@* Copyright © 2015 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Forms.Backend.ViewModels.FieldOptions.CreateOrEditViewModel
@{
  this.ViewBag.Title = (this.Model.Id == null ? "Create" : "Edit") + " Field Item";
  this.ViewBag.ActiveMenuItem = "forms";
}
<h1>@ViewBag.Title</h1>
<form method="post">
  <multilingual-single-line-text-editor asp-for="Value" asp-localizations="@Model.ValueLocalizations" />
  <single-line-text-editor asp-for="Position" />
  <div class="buttons">
    <button class="positive" type="submit">Save</button>
    <a class="button neutral" href="/backend/forms">Cancel</a>
    <div class="clear"></div>
  </div>
</form>