@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.ECommerce.Backend.ViewModels.Shared.CategoryViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
<tree-node>
  <div class="tree__node-header">
    <div class="tree__buttons tree__buttons--node-header buttons">
      <positive-button is-minor="true" href="/backend/categories/edit/@Model.Id">@Localizer["Edit"]</positive-button>
      <delete-button href="/backend/categories/delete/@Model.Id"></delete-button>
    </div>
    @Model.Name
  </div>
  <div class="tree__node-content">
    @foreach (var category in this.Model.Categories)
    {
      @Html.Partial("_Category", category)
    }
    <div class="tree__buttons buttons">
      <positive-button is-minor="true" href="/backend/categories/create?owner.id.equals=@Model.Id">@Localizer["Create category"]</positive-button>
    </div>
  </div>
</tree-node>