@* Copyright © 2017 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.ECommerce.Backend.ViewModels.Shared.ProductViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
<tr class="table__row">
  <td class="table__cell">@Model.Code</td>
  <td class="table__cell">@Model.Name</td>
  <td class="table__cell table__buttons buttons">
    <a class="table__button buttons__button buttons__button--minor button button--positive button--minor" href="@(this.Context.Request.CombineUrl("/backend/products/edit/" + this.Model.Id))">@Localizer["Edit"]</a>
    <a class="table__button buttons__button buttons__button--minor button button--negative button--minor button--delete" href="#" onclick="return platformus.forms.deleteForm.show('/backend/products/delete/@Model.Id');"></a>
  </td>
</tr>