@* Copyright © 2015 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Barebone.Backend.Metadata.MenuGroup
<div class="menu__group" data-code="main-@(this.Model.Position)">
  <div class="menu__group-header menu__group-header--collapsed">
    @Model.Name
  </div>
  <div class="menu__group-content">
    @foreach (var menuItem in this.Model.MenuItems)
    {
      @Html.Partial("_BackendMenuItem", menuItem)
    }
  </div>
</div>