@* Copyright © 2018 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.ECommerce.Backend.ViewModels.OrderStates.CreateOrEditViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
  this.ViewBag.Title = (this.Model.Id == null ? this.Localizer["Create Order State"].Value : this.Localizer["Edit Order State"].Value);
  this.ViewBag.ActiveMenuItem = "orderstates";
}
@section title {
  @ViewBag.Title
}
<form class="form" method="post">
  <single-line-text-field asp-for="Code" />
  <multilingual-single-line-text-field asp-for="Name" asp-localizations="this.Model.NameLocalizations" />
  <numeric-field asp-for="Position" />
  <div class="form__buttons buttons">
    <button class="buttons__button button button--positive" type="submit">@Localizer["Save"]</button>
    <a class="buttons__button button button--neutral" href="@this.Context.Request.CombineUrl("/backend/orderstates")">@Localizer["Cancel"]</a>
  </div>
</form>