@* Copyright © 2015 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Configurations.Backend.ViewModels.Configurations.IndexViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
  this.ViewBag.Title = this.Localizer["Configurations"];
  this.ViewBag.ActiveMenuItem = "configurations";
}
@section title {
  @ViewBag.Title <span class="master-detail__detail-header-counter">@Model.Configurations.Count()</span>
}
<div class="tree">
  @foreach (var configuration in this.Model.Configurations)
  {
    @Html.Partial("_Configuration", configuration)
  }
  <div class="tree__node">
    <div class="tree__buttons buttons">
      <a class="buttons__button buttons__button--minor button button--positive button--minor" href="/backend/configurations/create">@Localizer["Create configuration"]</a>
    </div>
  </div>
</div>