@* Copyright © 2017 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Domain.Backend.ViewModels.Microcontrollers.CreateOrEditViewModel
@{
  this.ViewBag.Title = (this.Model.Id == null ? "Create" : "Edit") + " Microcontroller";
  this.ViewBag.ActiveMenuItem = "microcontrollers";
}
@section title {
  @ViewBag.Title
}
<form class="form" method="post">
  <single-line-text-field asp-for="Name" />
  <single-line-text-field asp-for="UrlTemplate" />
  <single-line-text-field asp-for="ViewName" />
  <drop-down-list-field asp-for="CSharpClassName" asp-options="@Model.CSharpClassNameOptions" />
  <single-line-text-field asp-for="Position" />
  <div class="form__buttons buttons">
    <button class="buttons__button button button--positive" type="submit">Save</button>
    <a class="buttons__button button button--neutral" href="@this.Context.Request.CombineUrl("/backend/microcontrollers")">Cancel</a>
  </div>
</form>