@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.ECommerce.Frontend.ViewModels.Shared.CatalogViewModel
<div class="catalog @Model.AdditionalCssClass">
  <div class="catalog__categories">
    @foreach (var category in this.Model.Categories)
    {
      category.Level = 1;
      <partial name="_Category" for="@category" />
    }
  </div>
</div>