@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.ECommerce.Frontend.ViewModels.Shared.PositionsViewModel
<div class="positions @Model.AdditionalCssClass">
  @foreach (var position in this.Model.Positions)
  {
    @Html.Partial("_Position", position)
  }
</div>