@* Copyright © 2018 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.ECommerce.Frontend.ViewModels.Shared.PositionViewModel
<div class="cart__position position">
  <div class="position__product-cover">
    <img class="position__product-cover-image" src="/img?url=/images/temp/@Model.Product.Photo.Filename&w=320&h=320" />
  </div>
  <div class="position__product-name">
    @Model.Product.Name
  </div>
  <div class="position__product-price">
    @Model.Product.Price
  </div>
</div>