@* Copyright © 2015 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Globalization.Frontend.ViewModels.Shared.CultureViewModel
<div class="cultures__culture">
  <a class="cultures__culture-name" href="/@Model.Code/">@Model.Name</a>
</div>