@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Website.Backend.ViewModels.Forms.IndexViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
  this.ViewBag.Title = this.Localizer["Forms"];
  this.ViewBag.ActiveMenuItem = "forms";
}
@section title {
  @ViewBag.Title
}
<tree>
  @foreach (var form in this.Model.Forms)
  {
    @Html.Partial("_Form", form)
  }
  <tree-node>
    <div class="tree__buttons buttons">
      <positive-button is-minor="true" href="/backend/forms/create">@Localizer["Create form"]</positive-button>
    </div>
  </tree-node>
</tree>