@* Copyright © 2015 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Security.Backend.ViewModels.Credentials.CreateOrEditViewModel
@{
  this.ViewBag.ActiveMenuItem = "users";
}
<h1>@(this.Model.Id == null ? "Create" : "Edit") Credential</h1>
<form method="post">
  <drop-down-list-selector asp-for="CredentialTypeId" asp-options="@Model.CredentialTypeOptions" />
  <single-line-text-editor asp-for="Identifier" />
  <secret-editor asp-for="Secret" />
  <check-box asp-for="ApplyMd5HashingToSecret" />
  <div class="buttons">
    <button class="positive" type="submit">Save</button>
    <a class="button neutral" href="@this.Context.Request.CombineUrl("/backend/credentials")">Cancel</a>
    <div class="clear"></div>
  </div>
</form>