@* Copyright © 2015 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Security.Backend.ViewModels.Credentials.IndexViewModel
@{
  this.ViewBag.ActiveMenuItem = "users";
}
<h1>Credentials <span>@Model.Grid.Pager.Total</span></h1>
@Html.Partial("_Grid", this.Model.Grid)
<div class="buttons">
  <a class="button positive" href="/backend/credentials/create?userid=@Model.UserId">Create credential</a>
  <a class="button neutral" href="/backend/users">Back</a>
  <div class="clear"></div>
</div>