@* Copyright © 2018 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.ECommerce.Frontend.ViewModels.Cart.IndexViewModel
<h1>Cart</h1>
@await Component.InvokeAsync("Cart")
<div class="form__buttons buttons">
  <a class="buttons__button button button--positive" href="/en/ecommerce/checkout">Checkout</a>
</div>