@* Copyright © 2015 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Configuration.Backend.ViewModels.Sections.IndexViewModel
@{
  this.ViewBag.Title = "Sections";
  this.ViewBag.ActiveMenuItem = "sections";
}
@section title {
  @ViewBag.Title <span class="master-detail__detail-header-counter">@Model.Sections.Count()</span>
}
<div class="tree">
  @foreach (var section in this.Model.Sections)
  {
    @Html.Partial("_Section", section)
  }
  <div class="tree__node">
    <div class="tree__buttons buttons">
      <a class="buttons__button buttons__button--minor button button--positive button--minor" href="/backend/sections/create">Create section</a>
    </div>
  </div>
</div>