@* Copyright © 2017 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Designers.Backend.ViewModels.Shared.BundleViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
<tr class="table__row">
  <td class="table__cell">@Model.Filename</td>
  <td class="table__cell table__buttons buttons">
    <a class="table__button buttons__button buttons__button--minor button button--positive button--minor" href="@(this.Context.Request.CombineUrl("/backend/bundles/edit/" + this.Model.Filename.ToLower()))">@Localizer["Edit"]</a>
    <a class="table__button buttons__button buttons__button--minor button button--negative button--minor button--delete" href="#" onclick="return platformus.forms.deleteForm.show('/backend/bundles/delete/@Model.Filename.ToLower()');"></a>
  </td>
</tr>