@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Website.Backend.ViewModels.Menus.CreateOrEditViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
  this.ViewBag.Title = (this.Model.Id == null ? this.Localizer["Create Menu"] : this.Localizer["Edit Menu"]);
  this.ViewBag.ActiveMenuItem = "menus";
}
<form class="form" method="post">
  <title-bar>
    <submit-button>@Localizer["Save"]</submit-button>
    <neutral-button href="/backend/menus">@Localizer["Cancel"]</neutral-button>
  </title-bar>
  <single-line-text-field for="Code" />
  <multilingual-single-line-text-field for="Name" localizations="@Model.NameLocalizations" />
</form>