@* Copyright © 2015 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Menus.Frontend.ViewModels.Shared.MenuViewModel
<div class="menu @Model.AdditionalCssClass">
  <div class="menu__items">
    @foreach (var menuItem in this.Model.MenuItems)
    {
      menuItem.Level = 1;
      @Html.Partial("_MenuItem", menuItem)
    }
  </div>
</div>