@* Copyright © 2017 Dmitry Yegorov. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Domain.Backend.ViewModels.DataTypeParameters.CreateOrEditViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
  this.ViewBag.Title = (this.Model.Id == null ? this.Localizer["Create Data Type Parameter"].Value : this.Localizer["Edit Data Type Parameter"].Value);
  this.ViewBag.ActiveMenuItem = "datatypes";
}
@section title {
  @ViewBag.Title
}
<form class="form" method="post">
  <single-line-text-field asp-for="JavaScriptEditorClassName" />
  <single-line-text-field asp-for="Code" />
  <single-line-text-field asp-for="Name" />
  <div class="form__buttons buttons">
    <button class="buttons__button button button--positive" type="submit">@Localizer["Save"]</button>
    <a class="buttons__button button button--neutral" href="@this.Context.Request.CombineUrl("/backend/datatypeparameters")">@Localizer["Cancel"]</a>
  </div>
</form>