@* Copyright © 2015 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Forms.Backend.ViewModels.Shared.FieldOptionViewModel
<div class="tree-node">
  <div class="tree-node-header">
    <div class="buttons">
      <a class="button positive" href="/backend/fieldoptions/edit/@Model.Id">Edit</a>
      <a class="button negative" href="#" onclick="return new Platformus.Overlays.DeleteForm('/backend/fieldoptions/delete/@Model.Id').show();"></a>
      <div class="clear"></div>
    </div>
    @Model.Value
    <div class="clear"></div>
  </div>
</div>