@* Copyright © 2015 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Forms.Backend.ViewModels.Shared.FormViewModel
<div class="tree__node">
  <div class="tree__node-header">
    <div class="tree__buttons tree__buttons--node-header buttons">
      <a class="buttons__button buttons__button--minor button button--neutral button--minor" href="/backend/completedforms?formid=@Model.Id">Completed forms</a>
      <a class="buttons__button buttons__button--minor button button--positive button--minor" href="/backend/forms/edit/@Model.Id">Edit</a>
      <a class="buttons__button buttons__button--minor button button--negative button--minor button--delete" href="#" onclick="return platformus.forms.deleteForm.show('/backend/forms/delete/@Model.Id');"></a>
    </div>
    @Model.Name <span class="marker marker--neutral">@Model.Email</span>
  </div>
  <div class="tree__node-content">
    @foreach (var field in this.Model.Fields)
    {
      @Html.Partial("_Field", field)
    }
    <div class="tree__buttons buttons">
      <a class="buttons__button buttons__button--minor button button--positive button--minor" href="/backend/fields/create?formid=@Model.Id">Create field</a>
    </div>
  </div>
</div>