@* Copyright © 2015 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Configuration.Backend.ViewModels.Shared.VariableViewModel
<div class="tree-node">
  <div class="tree-node-header">
    @Model.Name = @Model.Value
    <div class="buttons">
      <a class="button positive" href="/backend/variables/edit/@Model.Id">Edit</a>
      <a class="button negative" href="#" onclick="return new Platformus.Overlays.DeleteForm('/backend/variables/delete/@Model.Id').show();"></a>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</div>