@* Copyright © 2018 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{ 
  this.ViewBag.Title = this.Localizer["Password Sent"];
}
@section title {
  @ViewBag.Title
}
<form class="form" method="post">
  <div class="form__buttons buttons">
    <a class="buttons__button button button--neutral" href="/backend/account/signin">@Localizer["Sign in"]</a>
  </div>
</form>