@* Copyright © 2015 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Security.Backend.ViewModels.Account.SignInViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{ 
  this.ViewBag.Title = this.Localizer["Sign In"];
}
@section title {
  @ViewBag.Title
}
<form class="form" method="post">
  <single-line-text-field asp-for="Email" />
  <secret-field asp-for="Password" />
  <checkbox-field asp-for="RememberMe" />
  <div class="form__buttons buttons">
    <button class="buttons__button button button--positive" type="submit">@Localizer["Sign  in"]</button>
  </div>
  <h2 class="form__title">
    @Localizer["Forgot your password?"]
  </h2>
  <div class="form__buttons buttons">
    <a class="buttons__button button button--neutral" href="/backend/account/resetpassword">@Localizer["Reset password"]</a>
  </div>
</form>