/* Colors */
$color-global-dark: #323232;
$color-global-dark-hovered: #3c3c3c;
$color-global-medium: #ccc;
$color-global-light: #fff;

$color-text-dark: $color-global-dark;
$color-text-medium: $color-global-medium;
$color-text-light: $color-global-light;

$color-hyperlink: #0096fa;
$color-hyperlink-hovered: #5abeff;

$color-control: #f0f0f0;
$color-control-hovered: #f5f5f5;

$color-control-positive: #87b919;
$color-control-positive-hovered: #a0d71e;

$color-control-negative: #ff4100;
$color-control-negative-hovered: #ff7346;

$color-control-neutral: $color-control;
$color-control-neutral-hovered: $color-control-hovered;

$color-highlight: #ffff96;
$color-highlight-hovered: #ffffaf;

$color-selected: #0096fa;
$color-selected-hovered: #0096fa;

/* Fonts */
$font-family: 'PT Sans', sans-serif;
$font-size-small: 13px;
$font-size-normal: 15px;
$font-size-large: 20px;
$font-size-huge: 30px;

$line-height-normal: 20px;
$line-height-large: 40px;
$line-height-huge: 60px;

/* Dimensions */
$spacing: 20px;
$spacing-x: 10px;
$spacing-y: 5px;

$control-size: 30px;