@import '_platformus.variables.scss';

.overlay {
  opacity: 0;
  position: fixed;
}

.modal {
  background: rgba(0, 150, 250, 0.25);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 200000;
}

.form {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 150, 250, 0.5);
  padding: 0 $spacing $spacing;
  width: 400px;
  z-index: 200001;
}

.form .title {
  font-size: $font-size-huge;
  line-height: $line-height-huge;
}