@import '_platformus.variables.scss';

.checkbox {
  display: table;
  margin-top: $spacing;
  height: 20px;
}

.checkbox .indicator {
  background-color: $color-control;
  vertical-align: top;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.checkbox:hover .indicator, .checkbox:focus .indicator {
  background-color: $color-control-hovered;
  color: $color-text-dark;
}

.checkbox .checked {
  background-image: url(../resource?name=wwwroot.areas.backend.images.checkbox_indicator_checked.png);
  background-position: center;
  background-repeat: no-repeat;
}

.checkbox .text {
  color: $color-text-dark;
  text-decoration: none;
  vertical-align: top;
  display: inline-block;
  margin-left: $spacing-x;
}