@import '_platformus.variables.scss';

::-moz-focus-inner { 
	border: 0; 
	padding: 0; 
}

::-ms-clear { 
  display: none;
}

::-ms-reveal {
  display: none; 
}

label, input, textarea, button, .button {
  border: none;
  color: $color-text-dark;
  font-family: $font-family;
  font-size: $font-size-normal;
  line-height: $line-height-normal;
  margin: 0;
  padding: 0;
}

label {
  display: inline-block;
}

input {
  background-color: $color-control;
  outline: none;
  padding: $spacing-y $spacing-x;
  width: 430px;
  height: $line-height-normal;
  resize: none;
}

textarea {
  background-color: $color-control;
  outline: none;
  box-sizing: border-box;
  padding: $spacing-y $spacing-x;
  width: 100%;
  height: 300px;
  overflow: auto;
  resize: none;
}

input:hover, input:focus, textarea:hover, textarea:focus {
  background-color: $color-control-hovered;
}

.required {
  border-right: 5px solid $color-control-negative;
}

.culture {
  position: relative;
  left: 450px;
  width: 0;
  z-index: 1;
}

.multiline {
  left: 100%;
}

.culture .flag {
  background: $color-global-dark;
  color: $color-text-light;
  cursor: default;
  font-size: 8px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  left: -23px;
  top: 7px;
  width: 16px;
  height: 16px;
  z-index: 1;
}

.multilingual-separator {
  height: 1px;
}

.input-validation-error {
  background-color: $color-highlight !important;
}

.input-validation-error:hover, .input-validation-error:focus {
  background-color: $color-highlight-hovered !important;
}

.display-values {
  background: $color-control;
  width: 450px;
  max-height: 300px;
  overflow: auto;
}

.display-values .display-value {
  display: block;
  padding: $spacing-y $spacing-x;
}

button, .button {
  cursor: pointer;
  display: inline-block;
  padding: $spacing-y $spacing-x;
  overflow: visible;
}

button:active, .button:active {
  background-color: $color-global-dark !important;
}

.positive, .negative, .neutral {
}

.positive {
  background-color: $color-control-positive;
  color: $color-text-light;
}

.positive:hover, .positive:focus {
  background-color: $color-control-positive-hovered;
  color: $color-text-light;
}

.negative {
  background-color: $color-control-negative;
  color: $color-text-light;
}

.negative:hover, .negative:focus {
  background-color: $color-control-negative-hovered;
  color: $color-text-light;
}

.neutral {
  background-color: $color-control-neutral;
}

.neutral:hover, .neutral:focus {
  background-color: $color-control-neutral-hovered;
}