@import '_platformus.variables.scss';

$side-width: 250px;
$side-details-width: 500px;

html, body {
  margin: 0;
  padding: 0;
  min-width: 1000px;
  height: 100%;
}

.clear {
  clear: both;
}

.container {
  position: relative;
  min-height: 100%;
}

.with-side {
  padding-left: $side-width;
}

.with-side-details {
  padding-left: $side-details-width;
}

.side {
  background-color: $color-global-dark;
  color: $color-text-light;
  position: fixed;
  left: 0;
  top: 0;
  width: $side-width;
  min-height: 100%;
}

.side .platformus {
  color: $color-text-light;
  font-size: $font-size-huge;
  line-height: $line-height-huge;
  text-decoration: none;
  display: block;
  padding: 0 $spacing;
  height: $line-height-huge;
}

.side .platformus span {
  color: $color-text-medium;
}

.side .menu {
}

.side .menu .menu-group {
}

.side .menu .menu-group .name {
  font-size: $font-size-large;
  line-height: $line-height-large;
  padding: 0 $spacing;
  height: $line-height-large;
}

.side .menu .menu-group .menu-items {
}

.side .menu .menu-group .menu-items .menu-item {
  display: block;
  padding: $spacing-y $spacing;
}

.side .menu .menu-group .menu-items .menu-item:hover, .side .menu .menu-group .menu-items .menu-item:focus {
  background-color: $color-global-dark-hovered;
}

.side .menu .menu-group .menu-items .active {
  background: $color-global-dark-hovered url(../wwwroot.areas.backend.images.menu_item_active.png) right no-repeat;
}

.with-side-details .side .menu .menu-group .menu-items .active {
  background: $color-global-dark-hovered url(../wwwroot.areas.backend.images.with_side_details_menu_item_active.png) right no-repeat;
}

.side .user-menu {
  padding-bottom: $control-size;
  position: absolute;
  left: 0;
  bottom: 0;
  width: $side-width;
}

.side .user-menu .menu-item {
  color: $color-text-medium;
  display: block;
  padding: $spacing-y $spacing;
}

.side .user-menu .menu-item:hover, .side .user-menu .menu-item:focus {
  background-color: $color-global-dark-hovered;
}

.side-details {
  background-color: $color-control;
  position: fixed;
  left: $side-width;
  top: 0;
  width: $side-width;
  min-height: 100%;
}

.side-details .title {
  font-size: $font-size-huge;
  line-height: $line-height-huge;
  text-decoration: none;
  display: block;
  padding: 0 $spacing;
  height: $line-height-huge;
}

.side-details .menu {
}

.side-details .menu .menu-group {
}

.side-details .menu .menu-group .name {
  font-size: $font-size-large;
  line-height: $line-height-large;
  padding: 0 $spacing;
  height: $line-height-large;
}

.side-details .menu .menu-group .menu-items {
}

.side-details .menu .menu-group .menu-items .menu-item {
  display: block;
  padding: $spacing-y $spacing;
}

.side-details .menu .menu-group .menu-items .menu-item:hover, .side-details .menu .menu-group .menu-items .menu-item:focus {
  background-color: $color-control-hovered;
}

.side-details .menu .menu-group .menu-items .active {
  background: $color-control-hovered url(../wwwroot.areas.backend.images.menu_item_active.png) right no-repeat;
}

.content {
  padding: 0 $spacing $spacing;
}