@import '_platformus.variables.scss';

.files-drag-and-drop-area {
  background: $color-control;
  color: $color-text-medium;
  font-style: italic;
  text-align: center;
  line-height: 100px;
  margin-top: $spacing;
  height: 100px;
}

.files-drag-and-drop-area-dragging {
  background-color: $color-control-hovered;
}

.browse {
  text-align: center;
  width: 100px;
  height: 20px;
  overflow: hidden !important;
}

.browse input {
  cursor: pointer;
  font-size: 150px;
  opacity: 0;
  margin: -100px 0 0 -500px;
  width: 1000px;
  height: 100px;
}