@import '_platformus.variables.scss';

.grid {
}

.grid .header {
  padding-bottom: $spacing;
}

.grid .header .pager {
  float: left;
}

.grid .header .pager .page {
  background-color: $color-control;
  box-sizing: border-box;
  text-align: center;
  display: block;
  float: left;
  margin-right: 1px;
  padding: $spacing-y $spacing-x;
  min-width: $control-size;
  height: $control-size;
}

.grid .header .pager div.page {
  background-position: center bottom;
}

.grid .header .pager a.page {
  background-position: center top;
}

.grid .header .pager a.page:hover, .pager a.page:focus {
  background-color: $color-control-hovered;
  background-position: center;
}

.grid .header .pager .first-page {
  background-image: url(../resource?name=wwwroot.areas.backend.images.first_page.png);
}

.grid .header .pager .previous-page {
  background-image: url(../resource?name=wwwroot.areas.backend.images.previous_page.png);
}

.grid .header .pager .skipped-pages {
  background-image: url(../resource?name=wwwroot.areas.backend.images.skipped_pages.png);
}

.grid .header .pager .active-page {
  background: $color-global-dark;
  color: $color-text-light;
  position: relative;
}

.grid .header .pager .active-page .arrow-ph {
  background: url(../resource?name=wwwroot.areas.backend.images.active_page.png);
  position: absolute;
  left: 50%;
  top: $control-size;
}

.grid .header .pager .active-page .arrow-ph .arrow {
  background: url(../resource?name=wwwroot.areas.backend.images.active_page.png);
  position: absolute;
  left: -5px;
  top: 0;
  width: 10px;
  height: 5px;
}

.grid .header .pager .next-page {
  background-image: url(../resource?name=wwwroot.areas.backend.images.next_page.png);
}

.grid .header .pager .last-page {
  background-image: url(../resource?name=wwwroot.areas.backend.images.last_page.png);
}

.grid .header .take-selector {
  float: left;
}

.grid .header .take-selector .drop-down-list {
  width: 100px;
}

.grid .header .filter {
  float: right;
}

.grid .header .filter input {
  background-image: url(../resource?name=wwwroot.areas.backend.images.press_enter.png);
  background-position: right;
  background-repeat: no-repeat;
  width: 115px;
}

.grid table {
  width: 100%;
}

.grid table col.ordered-by {
  background: $color-control;
}

.grid table tr th, .grid tr td {
  font-weight: normal;
  text-align: left;
  vertical-align: top;
  padding: $spacing-y $spacing-x;
}

.grid table tr th {
  background: $color-control;
}

.grid table tr th.ordered-by {
  background: $color-global-dark;
}

.grid table tr th.ordered-by a {
  color: $color-text-light;
}

.grid table tr td {
}

.grid table tr:hover td {
  background: $color-highlight;
}

.grid table tr.selected td {
  background: $color-selected;
  color: $color-global-light;
}

.grid table tr.selected:hover td {
  background: $color-selected-hovered;
}

.grid table tr td .secondary {
  font-size: $font-size-small;
}

.grid table tr .buttons {
  padding: 5px;
  width: 125px;
}

.grid table tr .buttons button, .grid table tr .buttons .button {
  font-size: $font-size-small;
  text-align: center;
  visibility: hidden;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
}

.grid table tr:hover .buttons button, .grid table tr:hover .buttons .button {
  visibility: visible;
}

.grid table tr .buttons .positive {
  margin-right: 5px;
  width: 100px;
}

.grid table tr .buttons .negative {
  background-image: url(../resource?name=wwwroot.areas.backend.images.delete.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}