@import '_platformus.variables.scss';

.image-uploader-form {
  width: 800px;
}

.image-uploader-form .image-uploading-indicator {
  background: $color-control;
  display: none;
  width: 800px;
  height: 600px;
}

.image-uploader-form .image-uploading-indicator .description {
  color: $color-text-medium;
  font-style: italic;
  text-align: center;
  line-height: 600px;
}

.image-uploader-form .image-cropper {
  background: $color-control;
  display: none;
  position: relative;
  width: 800px;
  height: 600px;
}

.image-uploader-form .image-cropper img {
  max-width: 800px;
  max-height: 600px;
}

.image-uploader-form .image-cropper .shader {
  background: #000;
  opacity: 0.75;
  filter: alpha(opacity = 75);
  position: absolute;
  left: 0;
  top: 0;
}

.image-uploader-form .image-cropper .frame {
  border: 1px solid $color-selected;
  cursor: move;
  position: absolute;
  left: -1px;
  top: -1px;
  overflow: hidden;
}

.image-uploader-form .image-cropper .frame .image-fragment {
  position: absolute;
}

.image-uploader-form .image-cropper .grip {
  background: $color-selected;
  cursor: se-resize;
  position: absolute;
  width: 11px;
  height: 11px;
}