@import '_platformus.variables.scss';

.tabs {
  border-bottom: 5px solid $color-global-dark;
}

.tabs .tab {
  background: $color-control;
  color: $color-hyperlink;
  cursor: pointer;
  padding: $spacing-y $spacing-x;
  float: left;
}

.tabs .tab:hover {
  background: $color-control-hovered;
  color: $color-hyperlink-hovered;
}

.tabs .active {
  background: $color-global-dark !important;
  color: $color-text-light !important;
}

.tab-page {
  display: none;
}