@import '_platformus.variables.scss';

form {
  margin: 0;
  padding: 0;
}

.field {
  padding-top: $spacing-x;
}

.field label {
  display: block;
  margin-bottom: 1px;
}

.buttons {
  padding-top: $spacing;
}

.buttons button, .buttons .button {
  display: block;
  float: left;
  margin-right: 1px;
}

.tool {
  padding-top: $spacing-y;
}

.tool button, .tool .button {
  font-size: $font-size-small;
  padding: 0 10px;
}