@import '_platformus.variables.scss';

.drop-down-list {
  position: relative;
  width: 450px;
}

.drop-down-list .text {
  background: $color-control url(../resource?name=wwwroot.areas.backend.images.drop_down_list.png) right no-repeat;
  color: $color-text-dark;
  text-decoration: none;
  display: block;
  padding: $spacing-y $spacing-x;
  height: $line-height-normal;
}

.input-validation-error .text {
  background-color: $color-highlight !important;
}

.drop-down-list .text:hover, .drop-down-list .text:focus {
  background-color: $color-control-hovered;
}

.input-validation-error .text:hover, .input-validation-error .text:focus {
  background-color: $color-highlight-hovered !important;
}

.drop-down-list .drop-down-list-items {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  max-height: 300px;
  overflow: auto;
  z-index: 1;
}

.drop-down-list .drop-down-list-items .drop-down-list-item {
  background: $color-global-dark;
  color: $color-text-light;
  text-decoration: none;
  white-space: nowrap;
  display: block;
  padding: $spacing-y $spacing-x;
  overflow: hidden;
}

.drop-down-list .drop-down-list-items .drop-down-list-item:hover, .drop-down-list .drop-down-list-items .drop-down-list-item:focus {
  background: $color-global-dark-hovered;
}