@import '_platformus.variables.scss';

.tree {
}

.tree .tree-node {
}

.tree .tree-node .tree-node-header {
  background-color: $color-control;
  padding: $spacing-y 0 $spacing-y $spacing-x;
}

.tree .tree-node .tree-node-header:hover {
  background: $color-highlight;
}

.tree .tree-node .tree-nodes {
  border-left: 1px solid $color-control;
  margin-left: 20px;
  padding-left: 20px;
}

.tree .tree-node .buttons {
  padding: 5px 0;
}

.tree .tree-node .buttons button, .tree .tree-node .buttons .button {
  font-size: $font-size-small;
  margin: 0;
  padding: 0 10px;
}

.tree .tree-node .tree-node-header .buttons {
  float: right;
  padding: 0 5px;
  width: 125px;
}

.tree .tree-node .tree-node-header .buttons button, .tree .tree-node .tree-node-header .buttons .button {
  text-align: center;
  visibility: hidden;
  padding: 0;
}

.tree .tree-node .tree-node-header:hover .buttons button, .tree .tree-node .tree-node-header:hover .buttons .button {
  visibility: visible;
}

.tree .tree-node .tree-node-header .buttons .positive {
  margin-right: 5px;
  width: 100px;
}

.tree .tree-node .tree-node-header .buttons .negative {
  background-image: url(../wwwroot.areas.backend.images.delete.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}