@import '_platformus.variables.scss';

.image-drag-and-drop-area {
  background: $color-control;
  width: 800px;
  height: 600px;
}

.image-drag-and-drop-area-dragging {
  background-color: $color-control-hovered;
}

.image-drag-and-drop-area .description {
  color: $color-text-medium;
  font-style: italic;
  text-align: center;
  padding-top: 250px;
}

.image-drag-and-drop-area .buttons {
  text-align: center;
}

.image-drag-and-drop-area .buttons .browse {
  text-align: center;
  float: none;
  display: inline-block;
  width: 250px;
  height: 20px;
  overflow: hidden !important;
}

.image-drag-and-drop-area .buttons .browse input {
  cursor: pointer;
  font-size: 150px;
  opacity: 0;
  margin: -100px 0 0 -500px;
  width: 1000px;
  height: 100px;
}