@import '_platformus.variables.scss';

.file-selector-form {
  width: 800px;
}

.file-selector-form .files {
  height: 400px;
  overflow: auto;
}

.file-selector-form .files table tr td {
  cursor: pointer;
}