@import '_platformus.variables.scss';

.max-length-indicator {
  background: $color-highlight;
  cursor: default;
  opacity: 0;
  position: absolute;
  width: 50px;
  height: $control-size;
  z-index: 1;
}

.max-length-indicator .arrow {
  background: url(../wwwroot.areas.backend.images.max_length_indicator.png) center no-repeat;
  position: absolute;
  left: -5px;
  top: 0;
  width: 5px;
  height: 100%;
}

.max-length-indicator .remaining-length {
  font-style: italic;
  line-height: $control-size;
  text-align: center;
}