@* Copyright © 2015 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Security.Backend.ViewModels.Permissions.IndexViewModel
@{
  this.ViewBag.Title = "Permissions";
  this.ViewBag.ActiveMenuItem = "permissions";
}
<h1>@ViewBag.Title <span>@Model.Grid.Pager.Total</span></h1>
@Html.Partial("_Grid", this.Model.Grid)
<div class="buttons">
  <a class="button positive" href="@this.Context.Request.CombineUrl("/backend/permissions/create")">Create permission</a>
  <div class="clear"></div>
</div>