@* Copyright © 2017 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@{
  this.Layout = null;
}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Platformus CMS Installation</title>
  <link href="/wwwroot/css/platformus.installer.min.css" rel="stylesheet" />
</head>
<body>
  <div class="intro">
    <img class="intro__logo" src="/wwwroot.images.platformus.png" alt="Platformus CMS Installation" />
    <h1 class="intro__title">Platformus CMS Installation</h1>
    <div class="intro__buttons buttons">
      <button class="button button--positive" type="button">Install now</button>
    </div>
  </div>
</body>
</html>