@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Core.Backend.ViewModels.Account.SignInViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{ 
  this.ViewBag.Title = this.Localizer["Sign  In"];
}
<form class="form" method="post">
  <title-bar />
  <single-line-text-field for="Email" />
  <secret-field for="Password" />
  <checkbox-field for="RememberMe" />
  <div class="form__buttons buttons">
    <submit-button>@Localizer["Sign in"]</submit-button>
    <neutral-button href="/backend/account/resetpassword">@Localizer["Reset password"]</neutral-button>
  </div>
</form>