@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Website.Backend.ViewModels.DataTypeParameters.CreateOrEditViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
  this.ViewBag.Title = (this.Model.Id == null ? this.Localizer["Create Data Type Parameter"].Value : this.Localizer["Edit Data Type Parameter"].Value);
  this.ViewBag.ActiveMenuItem = "datatypes";
}
@section title {
  @ViewBag.Title
}
<form class="master-detail__form form" method="post">
  <single-line-text-field for="JavaScriptEditorClassName" />
  <single-line-text-field for="Code" />
  <single-line-text-field for="Name" />
  <div class="form__buttons buttons">
    <submit-button>@Localizer["Save"]</submit-button>
    <neutral-button href="@this.Context.Request.CombineUrl("/backend/datatypeparameters")">@Localizer["Cancel"]</neutral-button>
  </div>
</form>