@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Website.Backend.ViewModels.DataTypeParameters.IndexViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
  this.ViewBag.Title = this.Localizer["Data Type Parameters"];
  this.ViewBag.ActiveMenuItem = "datatypes";
}
@section title {
  @ViewBag.Title
}
<partial name="_Grid" for="Grid" />
<div class="master-detail__buttons buttons">
  <positive-button href="/backend/datatypeparameters/create?datatype.id=@this.Model.Filter.DataType.Id">@Localizer["Create data type parameter"]</positive-button>
  <neutral-button href="/backend/datatypes">@Localizer["Back"]</neutral-button>
</div>