@* Copyright © 2015 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Barebone.Backend.ViewModels.Barebone.ImageUploaderFormViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
<div class="pop-up-form__header">
  @Localizer["Image Uploader"]
</div>
<div class="pop-up-form__content">
  <iframe class="image-uploader-pop-up-form__image-uploader" id="imageUploader" name="imageUploader" src="/backend/imageuploader" frameborder="0" marginwidth="0" marginheight="0" width="800" height="600" scrolling="no"></iframe>
  <div class="image-uploader-pop-up-form__image-uploading-indicator" id="imageUploadingIndicator">
    <div class="image-uploader-pop-up-form__image-uploading-indicator-description">
      @Localizer["Uploading, please wait…"]
    </div>
  </div>
  <div class="image-uploader-pop-up-form__image-cropper" id="imageCropper"></div>
  <div class="pop-up-form__buttons buttons">
    <a class="buttons__button button button--positive" href="#" onclick="return platformus.forms.imageUploaderForm.done();">@Localizer["Done"]</a>
    <a class="buttons__button button button--neutral" href="#" onclick="return platformus.forms.imageUploaderForm.hideAndRemove();">@Localizer["Cancel"]</a>
  </div>
</div>