@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Core.Backend.Metadata.MenuItem
<a class="master-detail__primary-menu-item @(this.ViewBag.ActiveMenuItem == this.Model.Url.Replace("/backend/", string.Empty) ? (this.ViewBag.HasSecondaryMaster == null ? "master-detail__primary-menu-item--active" : "master-detail__primary-menu-item--active-with-secondary-master") : null) menu__item" href="@Model.Url">
  @Model.Name
</a>