@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Core.Backend.ViewModels.Shared.UserViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
<row>
  <cell>@Model.Name</cell>
  <cell><a href="/backend/credentials?user.id=@Model.Id">@Localizer["Credentials"]</a></cell>
  <cell>@Model.Created.ToString()</cell>
  <buttons-cell>
    <positive-button is-minor="true" href="/backend/users/edit/@Model.Id">@Localizer["Edit"]</positive-button>
    <delete-button href="/backend/users/delete/@Model.Id"></delete-button>
  </buttons-cell>
</row>