@* Copyright © 2015 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Configurations.Backend.ViewModels.Shared.ConfigurationViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
<div class="tree__node">
  <div class="tree__node-header">
    <div class="tree__buttons tree__buttons--node-header buttons">
      <a class="buttons__button buttons__button--minor button button--positive button--minor" href="/backend/configurations/edit/@Model.Id">@Localizer["Edit"]</a>
      <a class="buttons__button buttons__button--minor button button--negative button--minor button--delete" href="#" onclick="return platformus.forms.deleteForm.show('/backend/configurations/delete/@Model.Id');"></a>
    </div>
    @Model.Name
  </div>
  <div class="tree__node-content">
    @foreach (var variable in this.Model.Variables)
    {
      @Html.Partial("_Variable", variable)
    }
    <div class="tree__buttons buttons">
      <a class="buttons__button buttons__button--minor button button--positive button--minor" href="/backend/variables/create?configurationid=@Model.Id">@Localizer["Create variable"]</a>
    </div>
  </div>
</div>