@* Copyright © 2015 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Content.Backend.ViewModels.DataTypes.CreateOrEditViewModel
@{
  this.ViewBag.Title = (this.Model.Id == null ? "Create" : "Edit") + " Data Type";
  this.ViewBag.ActiveMenuItem = "datatypes";
}
<h1>@ViewBag.Title</h1>
<form method="post">
  <single-line-text-editor asp-for="JavaScriptEditorClassName" />
  <single-line-text-editor asp-for="Name" />
  <single-line-text-editor asp-for="Position" />
  <div class="buttons">
    <button class="positive" type="submit">Save</button>
    <a class="button neutral" href="@this.Context.Request.CombineUrl("/backend/datatypes")">Cancel</a>
    <div class="clear"></div>
  </div>
</form>