@* Copyright © 2015 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Domain.Backend.ViewModels.Objects.CreateOrEditViewModel
@{
  this.ViewBag.Title = (this.Model.Id == null ? "Create" : "Edit") + " " + this.Model.Class.Name;
  this.ViewBag.ActiveMenuItem = "objects";
}
@section title {
  @ViewBag.Title
}
<form class="forms" method="post">
  <div id="tabs" class="tabs"></div>
  <div id="tabPages" class="tab-pages">
    <div id="tabPage0" class="tab-pages__tab-page"></div>
  </div>
  <div class="form__buttons buttons">
    <button class="buttons__button button button--positive" type="submit">Save</button>
    <a class="buttons__button button button--neutral" href="@this.Context.Request.CombineUrl("/backend/objects")">Cancel</a>
  </div>
</form>
@section startUpScript {
  var membersByTabs = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(this.Model.MembersByTabs));

  platformus.memberEditors.create(membersByTabs);
}