@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Core.Frontend.ViewModels.Shared.CultureViewModel
@inject Platformus.Core.Services.Abstractions.ICultureManager CultureManager
@{
  string url = this.Context.Request.Path;
  string cultureId = System.Globalization.CultureInfo.CurrentCulture.TwoLetterISOLanguageName;

  if (url.StartsWith($"/{cultureId}/"))
  {
    url = url.Replace($"/{cultureId}/", $"/{this.Model.Id}/");
  }

  else
  {
    url = $"/{this.Model.Id}/";
  }

  if (url == $"/{CultureManager.GetFrontendDefaultCultureAsync().Result.Id}/")
  {
    url = "/";
  }

  url += this.Context.Request.QueryString;

  bool isActive = this.Model.Id == cultureId;
}
<div class="cultures__culture @(isActive ? "cultures__culture--active" : null)">
  <a class="cultures__culture-name @(isActive ? "cultures__culture-name--active" : null)" href="@url">@Model.Name</a>
</div>