@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.ECommerce.Backend.ViewModels.DeliveryMethods.CreateOrEditViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
  this.ViewBag.Title = (this.Model.Id == null ? this.Localizer["Create Delivery Method"] : this.Localizer["Edit Delivery Method"]);
  this.ViewBag.ActiveMenuItem = "deliverymethods";
}
<form class="form" method="post">
  <title-bar>
    <submit-button>@Localizer["Save"]</submit-button>
    <neutral-button href="/backend/deliverymethods">@Localizer["Cancel"]</neutral-button>
  </title-bar>
  <single-line-text-field for="Code" />
  <multilingual-single-line-text-field for="Name" localizations="this.Model.NameLocalizations" />
  <integer-field for="Position" />
</form>