@* Copyright © 2015 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Forms.Backend.ViewModels.Forms.IndexViewModel
@{
  this.ViewBag.Title = "Forms";
  this.ViewBag.ActiveMenuItem = "forms";
}
@section title {
  @ViewBag.Title <span class="master-detail__detail-header-counter">@Model.Forms.Count()</span>
}
<div class="tree">
  @foreach (var form in this.Model.Forms)
  {
    @Html.Partial("_Form", form)
  }
  <div class="tree__node">
    <div class="tree__buttons buttons">
      <a class="buttons__button buttons__button--minor button button--positive button--minor" href="/backend/forms/create">Create form</a>
    </div>
  </div>
</div>