@* Copyright © 2015 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Static.Backend.ViewModels.Static.FileSelectorFormViewModel
<div class="title">
  File Selector
</div>
<div class="grid files">
  <table cellpadding="0" cellspacing="0">
    <tr>
      <th>Name</th>
      <th>Size</th>
    </tr>
    @foreach (var file in this.Model.Files)
    {
      <tr data-file-name="@file.Name">
        <td>@file.Name</td>
        <td>@file.Size</td>
      </tr>
    }
  </table>
</div>
<div class="buttons">
  <a class="button positive" href="#" onclick="return Platformus.Overlays.form.select();">Select</a>
  <a class="button neutral" href="#">Cancel</a>
  <div class="clear"></div>
</div>