@* Copyright © 2017 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Forms.Frontend.ViewModels.Shared.FieldViewModel
@{ 
  string dataValRequiredAttribute = this.Model.IsRequired ? " data-val-required=\"\"" : null;
}
<select class="field__drop-down-list drop-down-list" id="field@(this.Model.Code)" name="field@(this.Model.Code)" data-field-code="@Model.Code" data-val="true"@Html.Raw(dataValRequiredAttribute)>
  @foreach (var fieldOption in this.Model.FieldOptions)
  {
    <option>@fieldOption.Value</option>
  }
</select>