@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Core.Backend.ViewModels.Configurations.CreateOrEditViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
  this.ViewBag.Title = (this.Model.Id == null ? this.Localizer["Create Configuration"] : this.Localizer["Edit Configuration"]);
  this.ViewBag.ActiveMenuItem = "configurations";
}
<form class="form" method="post">
  <title-bar>
    <submit-button>@Localizer["Save"]</submit-button>
    <neutral-button href="/backend/configurations">@Localizer["Cancel"]</neutral-button>
  </title-bar>
  <single-line-text-field for="Code" />
  <single-line-text-field for="Name" />
</form>