@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Core.Backend.ViewModels.Configurations.IndexViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
  this.ViewBag.Title = this.Localizer["Configurations"];
  this.ViewBag.ActiveMenuItem = "configurations";
}
@section title {
  @ViewBag.Title
}
<tree>
  @foreach (var configuration in this.Model.Configurations)
  {
    @Html.Partial("_Configuration", configuration)
  }
  <tree-node>
    <div class="tree__buttons buttons">
      <positive-button is-minor="true" href="/backend/configurations/create">@Localizer["Create configuration"]</positive-button>
    </div>
  </tree-node>
</tree>