@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Website.Backend.ViewModels.Shared.MenuItemViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
<tree-node>
  <div class="tree__node-header">
    <div class="tree__buttons tree__buttons--node-header buttons">
      <positive-button is-minor="true" href="/backend/menuitems/edit/@Model.Id">@Localizer["Edit"]</positive-button>
      <delete-button href="/backend/menuitems/delete/@Model.Id"></delete-button>
    </div>
    @Model.Name
  </div>
  <div class="tree__node-content">
    @foreach (var menuItem in this.Model.MenuItems)
    {
      @Html.Partial("_MenuItem", menuItem)
    }
    <div class="tree__buttons buttons">
      <positive-button is-minor="true" href="/backend/menuitems/create?menuitem.id=@Model.Id">@Localizer["Create menu item"]</positive-button>
    </div>
  </div>
</tree-node>