@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Website.Backend.ViewModels.Shared.ObjectViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
<row>
  @foreach (var propertyByMember in this.Model.PropertiesByMembers)
  {
    if (propertyByMember.Key.PropertyDataType != null)
    {
      if (propertyByMember.Key.PropertyDataType.JavaScriptEditorClassName == "image")
      {
        <image-cell url="@propertyByMember.Value" />
      }
      else
      {
        <cell>@propertyByMember.Value</cell>
      }
    }
    else if (propertyByMember.Key.RelationClass != null)
    {
      <cell>
        <a href="/backend/objects?class.id=@propertyByMember.Key.RelationClass.Id&primary.id=@Model.Id">@propertyByMember.Key.RelationClass.PluralizedName</a>
      </cell>
    }
  }
<buttons-cell>
  <positive-button is-minor="true" href="/backend/objects/edit/@Model.Id">@Localizer["Edit"]</positive-button>
  <delete-button href="/backend/objects/delete/@Model.Id"></delete-button>
</buttons-cell>
</row>