@* Copyright © 2015 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Content.Backend.ViewModels.DataSources.CreateOrEditViewModel
@{
  this.ViewBag.ActiveMenuItem = "classes";
}
<h1>@(this.Model.Id == null ? "Create" : "Edit") Data Source</h1>
<form method="post">
  <single-line-text-editor asp-for="Code" />
  <drop-down-list-selector asp-for="CSharpClassName" asp-options="@Model.CSharpClassNameOptions" />
  <single-line-text-editor asp-for="Parameters" />
  <div class="buttons">
    <button class="positive" type="submit">Save</button>
    <a class="button neutral" href="@this.Context.Request.CombineUrl("/backend/datasources")">Cancel</a>
    <div class="clear"></div>
  </div>
</form>