@* Copyright © 2015 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Menus.Backend.ViewModels.Menus.IndexViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
  this.ViewBag.Title = this.Localizer["Menus"];
  this.ViewBag.ActiveMenuItem = "menus";
}
@section title {
  @ViewBag.Title <span class="master-detail__detail-header-counter">@Model.Menus.Count()</span>
}
<div class="tree">
  @foreach (var menu in this.Model.Menus)
  {
    @Html.Partial("_Menu", menu)
  }
  <div class="tree__node">
    <div class="tree__buttons buttons">
      <a class="buttons__button buttons__button--minor button button--positive button--minor" href="/backend/menus/create">@Localizer["Create menu"]</a>
    </div>
  </div>
</div>