@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Core.Backend.ViewModels.Core.DeleteFormViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
<div class="pop-up-form__header">
  @Localizer["Are you sure to delete?"]
</div>
<div class="pop-up-form__content">
  <div class="pop-up-form__buttons buttons">
    <negative-button href="@Model.TargetUrl" do-not-combine-url="true">@Localizer["Yes, I am"]</negative-button>
    <neutral-button onclick="return platformus.forms.deleteForm.hideAndRemove();">@Localizer["Cancel"]</neutral-button>
  </div>
</div>