@* Copyright © 2015 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Domain.Backend.ViewModels.Members.IndexViewModel
@{
  this.ViewBag.Title = "Members";
  this.ViewBag.ActiveMenuItem = "classes";
}
@section title {
  @ViewBag.Title <span class="master-detail__detail-header-counter">@Model.Grid.Pager.Total</span>
}
@Html.Partial("_Grid", this.Model.Grid)
<div class="master-detail__detail-buttons buttons">
  <a class="buttons__button button button--positive" href="/backend/members/create?classid=@Model.ClassId">Create member</a>
  <a class="buttons__button button button--neutral" href="/backend/classes">Back</a>
</div>