@* Copyright © 2015 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Content.Backend.ViewModels.Shared.ClassViewModel
<tr>
  <td>@Model.Name</td>
  <td><a href="/backend/tabs?classid=@Model.Id">Tabs</a></td>
  <td><a href="/backend/members?classid=@Model.Id">Members</a></td>
  <td><a href="/backend/datasources?classid=@Model.Id">Data sources</a></td>
  <td class="buttons">
    <a class="button positive" href="@(this.Context.Request.CombineUrl("/backend/classes/edit/" + this.Model.Id))">Edit</a>
    <a class="button negative" href="#" onclick="return new Platformus.Overlays.DeleteForm('/backend/classes/delete/@Model.Id').show();"></a>
    <div class="clear"></div>
  </td>
</tr>