@* Copyright © 2015 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Content.Backend.ViewModels.Shared.DataSourceViewModel
<tr>
  <td>@Model.CShartClassName</td>
  <td class="buttons">
    <a class="button positive" href="@(this.Context.Request.CombineUrl("/backend/datasources/edit/" + this.Model.Id))">Edit</a>
    <a class="button negative" href="#" onclick="return new Platformus.Overlays.DeleteForm('/backend/datasources/delete/@Model.Id').show();"></a>
    <div class="clear"></div>
  </td>
</tr>