@* Copyright © 2015 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@{
  this.Layout = null;
}
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>@Localizer["Image Uploader"] | @Localizer["Platformus"]</title>
  <link href="/wwwroot.areas.backend.css.platformus.barebone.min.css" rel="stylesheet" />
  <link href="//fonts.googleapis.com/css?family=PT+Sans:400,400italic&subset=latin,cyrillic" type="text/css" rel="stylesheet" />
  <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-1.11.3.min.js"></script>
  <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
  <script src="//ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script src="/wwwroot.areas.backend.js.platformus.barebone.min.js"></script>
</head>
<body>
  <div class="image-uploader-pop-up-form__drag-and-drop-area drag-and-drop-area" id="imageDragAndDropArea">
    <div class="drag-and-drop-area__description">
      @Localizer["Drag and drop image into this area…"]
    </div>
    <form class="form" id="form" name="form" action="/backend/imageuploader" enctype="multipart/form-data" method="post">
      <div class="drag-and-drop-area__buttons form__buttons buttons">
        <div class="drag-and-drop-area__browse-button buttons__button button button--positive">
          <div>@Localizer["…or select it on your device"]</div>
          <input class="drag-and-drop-area__browse-input" id="files" name="files" type="file" size="1" onchange="platformus.imageDragAndDropArea.selected();" />
        </div>
      </div>
    </form>
  </div>
</body>
</html>